{% extends 'template.html' %}
{% block title %}SSUBEA{% endblock %}
{% block css %}{% endblock %}
{% block main %}
{% load bootstrap5 %}
<div class="container">
<div class="row">
    <div class="col">
        <h2>Animais para adoção</h2>
    </div>
</div>
    <div class="row mx-auto px-5">
        <div class="d-flex justify-content-evenly">
    {% for animal in catalogo %}
    <div class="item">
        <div class="d-img">
          <img src="{{animal.animal_image.url}}" class="img-fluid rounded-3">
        </div>
        <div class="c-text mx-2 d-flex flex-column py-1">
          <h5>{{animal.raca}}</h5>
          <p class="card-text">{% if animal.sexo == 'o' %}Macho{% else %}Fêmea{% endif %},
             {{animal.idade}} {% if animal.idade == 1 %}ano.{% else %}anos.{% endif %}

            </p>
            <a href="{% url 'entrevista adocao' animal.id %}" class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</a>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
    </div>
<script>
</script>
{% endblock %}
