{% extends 'template.html' %}
{% block title %}SSUBEA{% endblock %}
{% block css %}{% endblock %}
{% block main %}
{% load bootstrap5 %}
<div class="container">
    <div class="row d-flex">
        <div class="col">
            <h2 class="m-0">Censo</h2>
        </div>
        <div class="col d-flex flex-row-reverse">
            <a href="{% url 'administrativo' %}" class="btn btn-outline-primary mx-2"><i class="fa-solid fa-rotate-left"></i>  Voltar</a>
        </div>
    </div>
    <div class="col-8 mx-auto">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <table class="table">
        <thead>
            <th class="text-center">Tutores</th>
            <th class="text-center">Animais Errantes</th>
            <th class="text-center">Animais para adoção</th>
            <th class="text-center">Animais c/ tutor</th>
        </thead>
        <tbody>
            <td class="text-center">{{tutores}}</td>
            <td class="text-center">{{errantes}}</td>
            <td class="text-center">{{adocao}}</td>
            <td class="text-center">{{animais_tutor}}</td>
        </tbody>
    </table>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Animais', 'Quantidade'],
        {% for c in castrados %}
        ['{{c.tipo}}',     {{c.quantidade}}],
        {% endfor %}
      ]);

      var options = {
        title: 'Quantidade de animais castrados e não castrados'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>
{% endblock %}
