{% extends 'template.html' %}
{% block title %}SSUBEA{% endblock %}
{% block css %}{% endblock %}
{% block main %}
{% load bootstrap5 %}
<div class="row">
    <div class="col">
        <h2>Cadastrar animal para adoção</h2>
        <form method="POST">
        {% csrf_token %}
        {% bootstrap_form animal_catalogo_form %} 
        <button type="submit" class="btn btn-primary w-100 mb-3" id="send">Cadastrar</button>
        </form>
    </div>
<script>
    // oi = document.getElementById('flexSwitchCheckDefault')
    // oi.parentNode.classList.add("form-switch");
</script>
{% endblock %}
